# Bringing over the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
FINRA_df = pd.read_csv("FINRA_CLEANED_DF.csv")
CFPB_MAPPED = pd.read_csv("CFPB_MAPPED.csv")
CFPB_UNMAPPED = pd.read_csv("CFPB_UNMAPPED.csv")

In [3]:
FINRA_df = FINRA_df.drop(columns = ['Unnamed: 0'])
FINRA_df

,NFCSID,STATEQ,CENSUSDIV,CENSUSREG,A3,A3Ar_w,A3B,A4A_new_w,A5_2015,A6,...,M21_3,M21_4,M41,M42,M6,M9,M10,wgt_n2,wgt_d2,wgt_s3
0,2018010001,48,9,4,2,5,11,1,5,4,...,NaN,NaN,NaN,NaN,1.0,98.0,1.0,0.683683,0.519642,1.095189
1,2018010002,10,5,3,2,2,8,1,6,1,...,NaN,NaN,NaN,NaN,1.0,1.0,98.0,0.808358,2.516841,0.922693
2,2018010003,44,7,3,2,2,8,1,6,1,...,NaN,NaN,NaN,NaN,1.0,1.0,98.0,1.021551,1.896192,0.671093
3,2018010004,10,5,3,2,1,7,1,6,2,...,1.0,NaN,3.0,7.0,98.0,2.0,98.0,0.808358,2.516841,0.922693
4,2018010005,13,8,4,1,2,2,1,6,1,...,NaN,NaN,NaN,NaN,1.0,1.0,98.0,0.448075,0.614733,1.232221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27086,2018037087,51,8,4,2,3,9,1,2,1,...,NaN,NaN,NaN,NaN,1.0,1.0,2.0,0.404002,0.183442,0.808332
27087,2018037088,20,1,1,2,2,8,2,2,1,...,NaN,NaN,NaN,NaN,1.0,98.0,98.0,0.475130,0.737766,1.116158
27088,2018037089,20,1,1,1,2,2,2,6,2,...,NaN,NaN,NaN,NaN,1.0,98.0,98.0,0.531368,0.713412,2.392632
27089,2018037090,20,1,1,2,1,7,2,6,2,...,NaN,NaN,NaN,NaN,1.0,1.0,2.0,0.377318,0.546359,0.965486
27090,2018037091,20,1,1,2,1,7,2,4,2,...,1.0,NaN,1.0,5.0,1.0,1.0,1.0,0.475130,0.737766,1.116158

In [4]:
CFPB_UNMAPPED = CFPB_UNMAPPED.drop(columns = ['Unnamed: 0'])
CFPB_UNMAPPED

,PUF_ID,agecat,PPEDUC,PPETHM,PPGENDER,PPINCIMP,PPHHSIZE,fpl,PPREG4,PPREG9,...,AUTOMATED_2,SAVINGSRANGES,HOUSING,HOUSERANGES,MORTGAGE,PRODHAVE_8,PRODUSE_1,PRODUSE_2,FWBscore,FSscore
0,10350,8,4,1,1,7,1,3,4,8,...,0,6,1,4,2,0,0,0,55,44
1,7740,3,2,1,1,6,2,3,2,3,...,0,2,1,4,2,0,0,0,51,43
2,13699,3,3,2,1,6,3,3,4,9,...,1,4,1,3,2,0,0,0,49,42
3,7267,3,2,1,1,8,1,3,3,7,...,-1,-1,-1,99,-2,0,0,0,49,42
4,7375,2,2,3,1,7,5,3,2,4,...,1,98,2,2,-2,0,0,1,49,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6389,11220,7,5,2,2,9,3,3,2,3,...,1,3,1,6,2,0,0,0,61,47
6390,13118,6,2,2,1,3,3,2,3,6,...,7,99,1,99,99,0,0,0,59,59
6391,8709,2,5,1,2,9,2,3,1,2,...,1,6,2,5,-2,1,0,0,59,51
6392,8515,2,2,4,1,4,2,3,4,9,...,7,99,2,5,-2,0,0,0,46,54
6393,8516,3,5,2,1,4,4,2,3,5,...,0,2,2,5,-2,0,0,0,49,42

In [5]:
CFPB_MAPPED = CFPB_MAPPED.drop(columns = ['Unnamed: 0'])
CFPB_MAPPED

,PUF_ID,Age Group,Education (Highest Degree),Race/Ethnicity,Gender,Household Income,Household Size,Federal Poverty Level,Census Region,Census Division,...,A Non-Retirement Savings Account,How much money do you have in savings today?,Which one of the following best describes your housing situation?,About how much do you pay for your home each month?,What do you owe on your home?,Student/Education Loan (for yourself or someone else),Used payday loan or cash advance loan,Used pawn loan or auto title loan,Financial Well-Being Scale score,Financial Skill Scale score
0,10350,75+,Bachelors degree,"White, Non-Hispanic",Male,"$75,000 to $99,999",1,200%+ FPL,West,Mountain,...,0,6,1,4,2,0,0,0,55,44
1,7740,35-44,High school degree/GED,"White, Non-Hispanic",Male,"$60,000 to $74,999",2,200%+ FPL,Midwest,East-North Central,...,0,2,1,4,2,0,0,0,51,43
2,13699,35-44,Some college/Associate,"Black, Non-Hispanic",Male,"$60,000 to $74,999",3,200%+ FPL,West,Pacific,...,1,4,1,3,2,0,0,0,49,42
3,7267,35-44,High school degree/GED,"White, Non-Hispanic",Male,"$100,000 to $149,999",1,200%+ FPL,South,West-South Central,...,-1,-1,-1,99,-2,0,0,0,49,42
4,7375,25-34,High school degree/GED,"Other, Non-Hispanic",Male,"$75,000 to $99,999",5+,200%+ FPL,Midwest,West-North Central,...,1,98,2,2,-2,0,0,1,49,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6389,11220,70-74,Graduate/professional degree,"Black, Non-Hispanic",Female,"$150,000 or more",3,200%+ FPL,Midwest,East-North Central,...,1,3,1,6,2,0,0,0,61,47
6390,13118,62-69,High school degree/GED,"Black, Non-Hispanic",Male,"$30,000 to $39,999",3,100%-199% FPL,South,East-South Central,...,7,99,1,99,99,0,0,0,59,59
6391,8709,25-34,Graduate/professional degree,"White, Non-Hispanic",Female,"$150,000 or more",2,200%+ FPL,Northeast,Mid-Atlantic,...,1,6,2,5,-2,1,0,0,59,51
6392,8515,25-34,High school degree/GED,Hispanic,Male,"$40,000 to $49,999",2,200%+ FPL,West,Pacific,...,7,99,2,5,-2,0,0,0,46,54
6393,8516,35-44,Graduate/professional degree,"Black, Non-Hispanic",Male,"$40,000 to $49,999",4,100%-199% FPL,South,South Atlantic,...,0,2,2,5,-2,0,0,0,49,42

In [6]:
FINRA_df.columns

Index(['NFCSID', 'STATEQ', 'CENSUSDIV', 'CENSUSREG', 'A3', 'A3Ar_w', 'A3B',
       'A4A_new_w', 'A5_2015', 'A6', 'A7', 'A7A', 'A11', 'A8', 'AM21', 'AM30',
       'AM31', 'AM22', 'X3', 'X4', 'A9', 'A40', 'A10', 'A10A', 'A21_2015',
       'A22_2015', 'A14', 'A41', 'J1', 'J2', 'J3', 'J5', 'J20', 'J32', 'J41_1',
       'J41_2', 'C1_2012', 'C4_2012', 'C5_2012', 'D40', 'EA_1', 'E7', 'E8',
       'E20', 'E15_2015', 'F2_1', 'F2_2', 'F2_3', 'F2_4', 'F2_5', 'G38', 'M40',
       'M20', 'M21_1', 'M21_2_2015', 'M21_3', 'M21_4', 'M41', 'M42', 'M6',
       'M9', 'M10', 'wgt_n2', 'wgt_d2', 'wgt_s3'],
      dtype='object')

In [ ]:
col_map = {
    'STATEQ':'State'
    'A3Ar_w':'Age Group', #NEEDS ADJUSTMENT
    'A5_2015':'Education (Highest Degree)', #NEEDS ADJUSTMENT
    'A4A_new_w':'Race(W/NW)', #NEEDS ADJUSTMENT
    'A3':'Gender',#perfect
    'A6':'Marital Status', #NEEDS DISCUSSION
    'A11':'Number of Dependents', #NEEDS DISCUSSION
    'A8':'Household Income', #NEEDS ADJUSTMENT
    'A7':'Household Size', #NEEDS ADJUSTMENT
    'CENSUSREG':'Census Region', #PERFECT
    'CENSUSDIV':'Census Division',#PERFECT
    'A9':'Employment Status', #NEEDS DISCUSSION
    'A10A':'Retirement Status Status', #NEEDS DISCUSSION
    'A21_2015':'Part-Time Student', #NEEDS DISCUSSION
    'A41':'Highest Degree Completed in Household', #NEEDS DISCUSSION  HHEDUC PAREDUC
    'J1':'How Satisfied are You with Your Current Financial Situation?', #NEEDS DISCUSSION SWB_1  HOUSESAT
    'J2':'How willing are you to take Financial Risk?', #NEEDS DISCUSSION
    'J3':'Do You Spend More Than, Less Than, or Equal What You Make?', #NEEDS DISCUSSION  MANAGE1_2?
    'J4':'How Difficult is it to Cover Expenses?', #NEEDS DISCUSSION FWB1_5?
    'J5':'Emergency Fund', #NEEDS DISCUSSION
    'J20':'How Confident that You Could Come Up with $2000 Dollars Unexpectedly', #NEEDS DISCUSSION  FWB1_1?
    'J32':'How Would You Rate Your Current Credit Score', #NEEDS DISCUSSION
    'J41_2':'I am just getting by financially', #NEEDS DISCUSSION, ADJUSTMENT
    'C1_2012':'Retirement Plan through Employer', #NEEDS DISCUSSION       AUTOMATED_1':'A Retirement Savings Account',
    'C4_2012':'Retirement PLan Not through Employer', #NEEDS DISCUSSION   AUTOMATED_1':'A Retirement Savings Account',
    'EA_1':'Do You Currently Own Your Home?',  #NEEDS DISCUSSION  'HOUSING':'Which one of the following best describes your housing situation?',
    'E7':'Do You Currently Have a Mortgage?', #NEEDS DISCUSSION  
    # 'HOUSERANGES':'About how much do you pay for your home each month?',
    #'MORTGAGE':'What do you owe on your home?',
    
    'E8':'Do You Have any Home Equity Loans?', #NEEDS DISCUSSION
    'E15_2015':'How Many Times Have You Been Late with Mortgage Payments in the Last 12 Months?', #NEEDS DISCUSSION
    'F2_1':'In the Past 12 Months: I Payed My Credit Card in Full', #NEEDS DISCUSSION 'MANAGE1_3':'Paid off credit card balance in full',
    'F2_2':'In the Past 12 Months: In some months, I carried over a balance and was Charged Interest', #NEEDS DISCUSSION 'MANAGE1_3':'Paid off credit card balance in full',
    'F2_3':'In the Past 12 Months: In some months, I payed the minimum balance', #NEEDS DISCUSSION 
    'F2_4':'In the Past 12 Months: In some months, I was charged a late fee for late payment', #NEEDS DISCUSSION
    'F2_5':'In the Past 12 Months: In some months, In some months, I was charged an over the limit fee for exceeding my credit line', #NEEDS DISCUSSION
    'M40':'Were you ever required to take financial education?', #NEEDS DISCUSSION
    'M20':'Was Financial education ever offered in your school, college, or workplace?', #NEEDS DISCUSSION
    'M21_1':'Did you recieve financial education from school?', #NEEDS DISCUSSION
    'M21_2_2015':'Did you recieve financial education from school?', #NEEDS DISCUSSION
    'M21_3':'Did you recieve financial education from school?', #NEEDS DISCUSSION
    'M6':'Suppose you had $100 in a savings account and the interest rate was 2% per year. After 5 years, how much do you think you would have in the account if you left the money to grow?', #NEEDS DISCUSSION
    'M9':'A 15-year mortgage typically requires higher monthly payments than a 30-year mortgage, but the total interest paid over the life of the loan will be less.', #NEEDS DISCUSSION
    'M10':'Buying a single company\'s stock usually provides a safer return than a stock mutual fund.', #NEEDS DISCUSSION'
}



#'MANAGE1_2':'Stayed within your budget or spending plan', J3
#'FWB1_5':'I am just getting by financially',  J4? J41_2?
#'FWB1_1':'I could handle a major unexpected expense.', J20
#AUTOMATED_1':'A Retirement Savings Account', C1, C4
#'HOUSING':'Which one of the following best describes your housing situation?', EA_1
#'HOUSERANGES':'About how much do you pay for your home each month?', E7
#'MORTGAGE':'What do you owe on your home?', E7
#'MANAGE1_3':'Paid off credit card balance in full',  F2_1

#'fpl':'Federal Poverty Level',
#'FS2_3':'I struggle to understand financial information',
#'SUBKNOWL1':'How would you assess your overall financial knowledge?',
#'ACT1_2':'I follow-through on financial goals I set for myself.',
#'PROPPLAN_3':'I set financial goals for what I want to achieve with my money',
#'PROPPLAN_1':'I consult my budget to see how much money I have left',
#'MANAGE1_1':'Paid all your bills on time',
#'MANAGE1_3':'Paid off credit card balance in full',
#'SAVEHABIT':'Putting money into savings is a habit for me',
#'AUTOMATED_2':'A Non-Retirement Savings Account',
#'SAVINGSRANGES':'How much money do you have in savings today?',
#'PRODHAVE_8':'Student/Education Loan (for yourself or someone else)',
#'PRODUSE_1':'Used payday loan or cash advance loan',
#'PRODUSE_2':'Used pawn loan or auto title loan',
#'FWBscore':'Financial Well-Being Scale score',
#'FSscore':'Financial Skill Scale score'

From preparing the dataframes I found the following. If you want to discuss this more we can later on
* These are columns that I got rid of from the FINRA dataset, with some reasoning (we can talk more if you want more detail)
    * A3B. Its just a combination of age and gender
    * A7A. Meaning not understood
    * All Military Columns. Not present in other dataset
    * A40. A9 covers enough I believe
    * A10. Not really present in other dataset
    * A22. reponse rate small
    * A14. Not in other datset
    * J41_1. Not Present in other dataset and probably not too important
    * C5_2012. Not Present in Other dataset and probably not too important
    * D40. Not in other data set
    * E20. Not in other data set
    * G38 not in other data set, probably not important
    * M21_4. Not too many military data
    * M41. Not in other data, not too important, low response rate
    * M42 Not in other data, not too important, low response rate
    * WGT columns. Not really sure how to use it with other dataset
    

- These are columns from the CFPB dataset that shared similarities with the FINRA dataset that might need a lot of work (similar columns from the FINRA dataset are placed next to them)

    - 'MANAGE1_2':'Stayed within your budget or spending plan', J3
    * 'FWB1_5':'I am just getting by financially',  J4? J41_2?
    * 'FWB1_1':'I could handle a major unexpected expense.', J20
    * AUTOMATED_1':'A Retirement Savings Account', C1, C4
    * 'HOUSING':'Which one of the following best describes your housing situation?', EA_1
    * 'HOUSERANGES':'About how much do you pay for your home each month?', E7
    * 'MORTGAGE':'What do you owe on your home?', E7
    * 'MANAGE1_3':'Paid off credit card balance in full',  F2_1
    

* These are columns that are in the CFPB data that didn't have a something similar in the FINRA dataset that we cleaned. A FINRA column that matches the CFPB column could be in the original dataset, but I haven't had time to check yet. That should be the next step before we do the actual combination of the two datasets

    * 'fpl':'Federal Poverty Level',
    * 'FS2_3':'I struggle to understand financial information',
    * 'SUBKNOWL1':'How would you assess your overall financial knowledge?',
    * 'ACT1_2':'I follow-through on financial goals I set for myself.',
    * 'PROPPLAN_3':'I set financial goals for what I want to achieve with my money',
    * 'PROPPLAN_1':'I consult my budget to see how much money I have left',
    * 'MANAGE1_1':'Paid all your bills on time',
    * 'MANAGE1_3':'Paid off credit card balance in full',
    * 'SAVEHABIT':'Putting money into savings is a habit for me',
    * 'AUTOMATED_2':'A Non-Retirement Savings Account',
    * 'SAVINGSRANGES':'How much money do you have in savings today?',
    * 'PRODHAVE_8':'Student/Education Loan (for yourself or someone else)',
    * 'PRODUSE_1':'Used payday loan or cash advance loan',
    * 'PRODUSE_2':'Used pawn loan or auto title loan',
    * 'FWBscore':'Financial Well-Being Scale score',
    * 'FSscore':'Financial Skill Scale score'
   
    
You might notice that I put "Needs Discussion" for a lot of the columns. The reason being is that 1: The column in question is important but not present in both datasets or 2: How we should combine the two datasets with regards to that column isn't clear. We can maybe discuss them together in real time or make some sort of thread for each column and respons when we can