In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("NFCS 2018 State Data 190603.csv")
df.head()

,NFCSID,STATEQ,CENSUSDIV,CENSUSREG,A3,A3Ar_w,A3B,A4A_new_w,A5_2015,A6,...,M42,M6,M7,M8,M31,M9,M10,wgt_n2,wgt_d2,wgt_s3
0,2018010001,48,9,4,2,5,11,1,5,4,...,,1,3,98,98,98,1,0.683683,0.519642,1.095189
1,2018010002,10,5,3,2,2,8,1,6,1,...,,1,3,98,3,1,98,0.808358,2.516841,0.922693
2,2018010003,44,7,3,2,2,8,1,6,1,...,,1,1,98,98,1,98,1.021551,1.896192,0.671093
3,2018010004,10,5,3,2,1,7,1,6,2,...,7,98,98,4,4,2,98,0.808358,2.516841,0.922693
4,2018010005,13,8,4,1,2,2,1,6,1,...,,1,3,98,2,1,98,0.448075,0.614733,1.232221

In [3]:
yes_and_maybe = ['NFCSID', 'CENSUSREG', 'CENSUSDIV','A3','A3Ar_w','A4A_new_w','A5_2015','A8','A7','J41_2','C1_2012','C4_2012','EA_1','A11','A9','J4','J20','J43','G30_1','G30_2','G30_3','G30_4','G30_5','G30_97','G30_98','G30_99','G25_1','G25_4','A6','A41','J1','J3','B2']

In [4]:
finra_combined_prep = df[yes_and_maybe]

In [5]:
finra_combined_prep.head()

,NFCSID,CENSUSREG,CENSUSDIV,A3,A3Ar_w,A4A_new_w,A5_2015,A8,A7,J41_2,...,G30_97,G30_98,G30_99,G25_1,G25_4,A6,A41,J1,J3,B2
0,2018010001,4,9,2,5,1,5,1,4,5,...,1,0,0,1,3,4,98,1,3,2
1,2018010002,3,5,2,2,1,6,5,2,5,...,1,0,0,1,1,1,5,4,3,1
2,2018010003,3,7,2,2,1,6,4,2,5,...,0,0,0,1,1,1,3,1,2,2
3,2018010004,3,5,2,1,1,6,5,2,4,...,0,1,0,5,3,2,5,8,2,98
4,2018010005,4,8,1,2,1,6,3,2,3,...,0,0,0,1,1,1,5,6,3,1

In [6]:
for i in finra_combined_prep.columns:
    print(finra_combined_prep[i].value_counts())

2018011123    1
2018014596    1
2018012487    1
2018035026    1
2018037075    1
             ..
2018022087    1
2018036428    1
2018034381    1
2018011864    1
2018011149    1
Name: NFCSID, Length: 27091, dtype: int64
3    8532
4    8008
2    6032
1    4519
Name: CENSUSREG, dtype: int64
5    4520
8    4008
9    4000
4    3507
1    3008
3    2525
6    2009
7    2003
2    1511
Name: CENSUSDIV, dtype: int64
2    15135
1    11956
Name: A3, dtype: int64
6    5512
5    4907
2    4686
4    4669
3    4522
1    2795
Name: A3Ar_w, dtype: int64
1    20099
2     6992
Name: A4A_new_w, dtype: int64
4    7263
6    5905
2    4900
7    3543
5    2864
3    1919
1     697
Name: A5_2015, dtype: int64
5    5259
4    3917
6    3856
7    3439
1    3041
3    2934
2    2804
8    1841
Name: A8, dtype: int64
2    16085
1     6709
4     2445
3     1852
Name: A7, dtype: int64
3     6052
1     5745
2     5043
5     4883
4     4542
98     570
99     256
Name: J41_2, dtype: int64
1     15421
2     10069
98     1272
99      329
Name: C1_2012, dtype: int64
2     15789
1      9471
98     1415
99      416
Name: C4_2012, dtype: int64
1     16508
2     10107
98      248
99      228
Name: EA_1, dtype: int64
6    9006
5    8471
1    4198
2    3255
3    1355
4     806
Name: A11, dtype: int64
2    10800
8     6116
3     2405
4     2183
1     1985
6     1456
7     1236
5      910
Name: A9, dtype: int64
3     14119
2      9219
1      3026
98      487
99      240
Name: J4, dtype: int64
1     12305
2      5720
4      4850
3      3145
98      863
99      208
Name: J20, dtype: int64
3     11416
4      8573
2      4076
1      1797
98     1069
99      160
Name: J43, dtype: int64
0    22074
1     5017
Name: G30_1, dtype: int64
0    25290
1     1801
Name: G30_2, dtype: int64
0    26094
1      997
Name: G30_3, dtype: int64
0    27035
1       56
Name: G30_4, dtype: int64
0    27028
1       63
Name: G30_5, dtype: int64
1    19674
0     7417
Name: G30_97, dtype: int64
0    26778
1      313
Name: G30_98, dtype: int64
0    26936
1      155
Name: G30_99, dtype: int64
1     23805
2      1350
3       652
4       423
5       365
98      311
99      185
Name: G25_1, dtype: int64
1     22039
2      1394
5      1319
3      1057
4       790
98      323
99      169
Name: G25_4, dtype: int64
1    14457
2     8039
4     3003
5     1191
3      401
Name: A6, dtype: int64
2     8833
5     5181
3     5048
6     3067
4     2312
1     2120
98     448
99      82
Name: A41, dtype: int64
1     3779
7     3737
8     3587
5     2827
10    2664
6     2642
9     2298
4     2041
3     1851
2     1136
98     325
99     204
Name: J1, dtype: int64
1     11268
3      9737
2      5012
98      896
99      178
Name: J3, dtype: int64
1     19962
2      6372
98      393
99      364
Name: B2, dtype: int64

In [43]:
finra_combined_prep.to_csv(r'finra_combined_prep.csv', index = False)